### Appearance count of an artist and tracks

In [1]:
import pandas as pd

In [2]:
allfilesclass = pd.read_csv("Classification/all_files_ZAv1.csv")

In [3]:
allfilesclass.shape

(61886, 23)

In [4]:
allfilesclass.columns

Index(['trackAppearanceCount', 'artistAppearanceCount', 'rank', 'uri',
       'artist_names', 'track_name', 'source', 'peak_rank', 'previous_rank',
       'weeks_on_chart', 'streams', 'End Date', 'Week', 'Year', 'End Date Dt',
       'Seconds since Epoch', 'End Date Aggregated', 'ArtistCount',
       'main_artist', 'isTopTen', 'Artist and Track', 'rank difference',
       'Position over Time'],
      dtype='object')

In [8]:
appearances = allfilesclass[["trackAppearanceCount", "artistAppearanceCount", "main_artist", "track_name", "End Date"]].drop_duplicates()

In [9]:
appearances.shape

(61886, 5)

In [12]:
firsttrackappearance = appearances[appearances["trackAppearanceCount"]==0]

In [13]:
firsttrackappearance

,trackAppearanceCount,artistAppearanceCount,main_artist,track_name,End Date
0,0,3,$,BACK TO ME,2024-02-15
2,0,7,$,BEG FORGIVENESS,2024-02-15
3,0,8,$,BURN,2024-02-15
6,0,0,$,CARNIVAL,2024-02-15
7,0,14,$,CARNIVAL,2024-02-22
...,...,...,...,...,...
61838,0,0,salem ilese,Mad at Disney,2020-09-10
61850,0,0,the King will come,Yet,2023-07-20
61852,0,0,twocolors,Lovefool,2021-01-14
61854,0,0,uLazi,Gijima,2022-07-28
61855,0,1,uLazi,yey,2023-04-06

In [14]:
# thecollabsdf.to_csv("artists_za_collaborators/"+ mainartist +".csv", index=False)