In [1]:
import pandas as pd
import glob2
import matplotlib.pyplot as plt
import datetime
import re
from datetime import datetime, timedelta
%matplotlib inline

In [2]:
global_music_file_paths = glob2.glob('spotify ng v2/*.csv')

In [3]:
print(len(global_music_file_paths))

29

In [4]:
print(global_music_file_paths[:4])

['spotify ng v2\\regional-ng-weekly-2022-02-17.csv', 'spotify ng v2\\regional-ng-weekly-2022-02-24.csv', 'spotify ng v2\\regional-ng-weekly-2022-03-03.csv', 'spotify ng v2\\regional-ng-weekly-2022-03-10.csv']

In [5]:
# global_music_file_paths

In [6]:
#Add the dates to the files - run once
def addsDatesToData():
    to_remove_front = "spotify ng v2\\regional-ng-weekly-"
    to_remove_back = ".csv"

    len_front_remove = len(to_remove_front)
    len_back_remove = len(to_remove_back)

    for file in global_music_file_paths: 
#         print(file)
        the_data_in_file = pd.read_csv(file)
#         the_data_in_file = the_data_in_file.iloc[1: , :]
#         the_data_in_file.columns = ["Position", "Track Name", "Artist", "Streams", "URL"]
        
        
        the_dates = file[len_front_remove:]
        the_dates = the_dates[:-len_back_remove]

        split_dates = the_dates.split("-")

        start_date = split_dates[0] + "-" + split_dates[1] + "-" + split_dates[2]
        

        len_dates = the_data_in_file.shape[0]
        start_dates = len_dates * [start_date]

        date_columns = {"End Date": start_dates}   

        the_data_in_file["End Date"] = start_dates

        #write the data back to the File
        the_data_in_file.to_csv(file, index=False)
        
#remove dates in existing files
def removeExistingDates():
    for file in global_music_file_paths:
        
        the_data_in_file = pd.read_csv(file)

        the_data_in_file.drop(["Start Date", "End Date"], axis=1, inplace=True) 

        the_data_in_file.to_csv(file, index=False)
    
#check for dates ... opting for removal and putting them back on

In [7]:
# all_files_dates = pd.DataFrame()
# def findmissingDates():
#     all_files_dates = pd.read_csv("all_files.csv", encoding="utf-8")
    
#     all_files_dates = all_files_dates[["Start Date", "End Date"]] 
    
#     all_files_dates = all_files_dates.drop_duplicates().reset_index().drop(["index"], axis=1)
    
#     return all_files_dates

In [8]:
# all_files_dates = findmissingDates()

In [9]:
# all_files_dates

In [10]:
# removeExistingDates()
addsDatesToData()

In [11]:
# the_data_in_file

In [12]:
# pd.date_range(start ='2019-11-01', end = '2019-12-27').difference(all_files_dates.index)

In [13]:
#Combine the files and sort by dates
all_files = []
trouble_files = []
for file in global_music_file_paths:
    the_data_in_file = pd.read_csv(file)
    
    if("URL" in list(the_data_in_file.columns)):
    
        the_data_in_file = the_data_in_file.drop(["URL"], axis=1)
    
    list_vals = sum(list(the_data_in_file.isnull().sum()))
    
    if(list_vals > 0):
        trouble_files.append(file)
    all_files.append(the_data_in_file)
    
the_spotify_data = pd.concat(all_files) 
# trouble_files_df = pd.concat(trouble_files)

In [14]:
# the_spotify_data["Start Date"].unique().tolist()

In [15]:
all_cols = list(the_spotify_data.columns)
drop_cols = []

for col in all_cols:
    if("Unnamed" in col or "artificial" in col):
        drop_cols.append(col)
        
the_spotify_data.drop(drop_cols, axis=1, inplace = True)

In [16]:
the_spotify_data.columns

Index(['rank', 'uri', 'artist_names', 'track_name', 'source', 'peak_rank',
       'previous_rank', 'weeks_on_chart', 'streams', 'End Date'],
      dtype='object')

In [17]:
the_spotify_data

,rank,uri,artist_names,track_name,source,peak_rank,previous_rank,weeks_on_chart,streams,End Date
0,1,spotify:track:6hgoYQDUcPyCz7LcTUHKxa,Rema,Calm Down,Mavin Records/Jonzing World,1,-1,1,314130,2022-02-17
1,2,spotify:track:7d1aTQlsHMgWmkPywDi7h1,"Asake, Olamide",Omo Ope (feat. Olamide),Asake Music,2,-1,1,127069,2022-02-17
2,3,spotify:track:79P1sxrpp1phhTgF1gkaI8,"BNXN fka Buju, Blaq Diamond",Italy (feat. Blaq Diamond),To Your Ears Entertainment,3,-1,1,95578,2022-02-17
3,4,spotify:track:4lDghGd035xrzGp6Yec2j1,"Skiibii, Davido",Baddest Boy - Remix,More Grace Entertainment / Dvpper Music,4,-1,1,93390,2022-02-17
4,5,spotify:track:6PojTTCNlz3qo3qBKuUyaO,"Mayorkun, Victony",Holy Father,SM Entertainment West Africa Limited,5,-1,1,86308,2022-02-17
...,...,...,...,...,...,...,...,...,...,...
195,196,spotify:track:6RbOyNeajWax51NtpO6WT8,"Tempoe, Victony",Soweto,The Plug Entertainment,49,-1,4,15133,2022-09-01
196,197,spotify:track:0mBP9X2gPCuapvpZ7TGDk3,"Charlie Puth, Jung Kook, BTS",Left and Right (Feat. Jung Kook of BTS),Atlantic Records,74,-1,5,15092,2022-09-01
197,198,spotify:track:6ezXpXqbGqIwxUuVBMpHTp,Omah Lay,recognize,KeyQaad,41,187,7,15002,2022-09-01
198,199,spotify:track:4nwtkUjULEbhp5VJItUWbV,Victony,Many Man - A COLORS SHOW,COLORSxSTUDIOS,26,186,9,14943,2022-09-01
199,200,spotify:track:06mcgnr3eJ8cF8ed0WfdPA,"Peruzzi, Fireboy DML",Southy Love,Davido Music Worldwide,69,183,29,14804,2022-09-01

In [18]:
# the_spotify_data["End Date"].unique().tolist()

In [19]:
the_spotify_data["Week"] = the_spotify_data["End Date"].apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))
the_spotify_data["Year"] = the_spotify_data["Week"]

the_spotify_data['Week'] = the_spotify_data['Week'].apply(lambda x : x.isocalendar()[1] )
the_spotify_data['Year'] = the_spotify_data['Year'].apply(lambda x : x.isocalendar()[0] )

# the_spotify_data["Start Date Dt"] = the_spotify_data["Start Date"].apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))
the_spotify_data["End Date Dt"] = the_spotify_data["End Date"].apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))
the_spotify_data['Seconds since Epoch'] = the_spotify_data['End Date Dt'].apply(lambda x : round(x.timestamp(), 0))

In [20]:
#get the month when this happened
def changedaytotheFirst(x):
    x = x[:-2] + "01"
    
    return x

In [21]:
the_spotify_data["End Date Aggregated"] = the_spotify_data["End Date"].apply(lambda x : changedaytotheFirst(x) )

In [22]:
#find the number of artists on the track
the_spotify_data.dropna(inplace=True)

the_spotify_data["artist_names"] = the_spotify_data["artist_names"].apply(lambda x : x.encode("utf-8").decode("latin-1"))
the_spotify_data["artist_names"] = the_spotify_data["artist_names"].apply(lambda x : re.sub(r'[^\x00-\x7F]+','', x))
the_spotify_data["artist_names"] = the_spotify_data.apply(lambda x : x["artist_names"] + "Artist_NA" if(x["artist_names"] == "") else x["artist_names"], axis=1)

the_spotify_data["track_name"] = the_spotify_data["track_name"].apply(lambda x : x.encode("utf-8").decode("latin-1"))
the_spotify_data["track_name"] = the_spotify_data["track_name"].apply(lambda x : re.sub(r'[^\x00-\x7F]+','', x))
the_spotify_data["track_name"] = the_spotify_data.apply(lambda x : x["artist_names"] + "_NA" if(x["track_name"] == "") else x["track_name"], axis=1)

def countNumberArtists(x):
    len_all_featured_artists = 0
    num_artists = 0
    xvals = x.split("feat")
    len_xvals = len(xvals)
    
    if(len_xvals > 1):
        featured_artists = xvals[1:]
        featured_artists_str = ' '.join(featured_artists)
        all_featured_artists = featured_artists_str.split("& ")
        len_all_featured_artists = len(all_featured_artists)
        
    num_artists = 1 + len_all_featured_artists
    
    return num_artists
        
    
the_spotify_data['ArtistCount'] = the_spotify_data['track_name'].apply(lambda x : countNumberArtists(x))

In [23]:
the_spotify_data.shape

(5800, 16)

In [24]:
the_spotify_data["main_artist"] = the_spotify_data.apply(lambda x : x["artist_names"].split(",")[0], axis=1)

In [25]:
the_spotify_data = the_spotify_data.reset_index()
the_spotify_data.drop(["index"], axis=1, inplace=True)

In [26]:
the_spotify_data.shape

(5800, 17)

In [27]:
def everInTopTen(x):
    position_vals = list(x["rank"])
    position_vals = list(set(position_vals))
    
#     print(position_vals)
    
    min_pos = min(position_vals)
    existence_val = 0
    
    if(min_pos <= 10):
        existence_val = 1
    
    x["isTopTen"] = [existence_val] * len(x)
    
    return x
    
the_spotify_data = the_spotify_data[~the_spotify_data.index.duplicated()]
the_spotify_data = the_spotify_data.groupby(["artist_names", "track_name"]).apply(lambda x : everInTopTen(x))

In [28]:
the_spotify_data.head()

,rank,uri,artist_names,track_name,source,peak_rank,previous_rank,weeks_on_chart,streams,End Date,Week,Year,End Date Dt,Seconds since Epoch,End Date Aggregated,ArtistCount,main_artist,isTopTen
0,1,spotify:track:6hgoYQDUcPyCz7LcTUHKxa,Rema,Calm Down,Mavin Records/Jonzing World,1,-1,1,314130,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,1,Rema,1
1,2,spotify:track:7d1aTQlsHMgWmkPywDi7h1,"Asake, Olamide",Omo Ope (feat. Olamide),Asake Music,2,-1,1,127069,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,2,Asake,1
2,3,spotify:track:79P1sxrpp1phhTgF1gkaI8,"BNXN fka Buju, Blaq Diamond",Italy (feat. Blaq Diamond),To Your Ears Entertainment,3,-1,1,95578,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,2,BNXN fka Buju,1
3,4,spotify:track:4lDghGd035xrzGp6Yec2j1,"Skiibii, Davido",Baddest Boy - Remix,More Grace Entertainment / Dvpper Music,4,-1,1,93390,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,1,Skiibii,1
4,5,spotify:track:6PojTTCNlz3qo3qBKuUyaO,"Mayorkun, Victony",Holy Father,SM Entertainment West Africa Limited,5,-1,1,86308,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,1,Mayorkun,1

### When did the track reach the Top 10

### how long does a song last on the charts?

In [29]:
# def lengthSong(x):
#     min_date = min(x["Start Date"])
#     max_date = max(x["End Date"])
    
#     def convertStrToDate(y):
#         split_date = y.split("-")
#         dateindtformat = datetime(int(split_date[0]), int(split_date[1]), int(split_date[2]))
        
#         return dateindtformat
    
#     x["lenOnCharts"] = [int(((convertStrToDate(max_date) - convertStrToDate(min_date)).total_seconds() / 604800)) ] * len(x)
#     x["lenOnCharts"] = x["lenOnCharts"]
    
#     return x
    
# the_spotify_data = the_spotify_data.groupby(["Artist", "Track Name"], as_index=False).apply(lambda x : lengthSong(x))

In [30]:
the_spotify_data.head()

,rank,uri,artist_names,track_name,source,peak_rank,previous_rank,weeks_on_chart,streams,End Date,Week,Year,End Date Dt,Seconds since Epoch,End Date Aggregated,ArtistCount,main_artist,isTopTen
0,1,spotify:track:6hgoYQDUcPyCz7LcTUHKxa,Rema,Calm Down,Mavin Records/Jonzing World,1,-1,1,314130,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,1,Rema,1
1,2,spotify:track:7d1aTQlsHMgWmkPywDi7h1,"Asake, Olamide",Omo Ope (feat. Olamide),Asake Music,2,-1,1,127069,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,2,Asake,1
2,3,spotify:track:79P1sxrpp1phhTgF1gkaI8,"BNXN fka Buju, Blaq Diamond",Italy (feat. Blaq Diamond),To Your Ears Entertainment,3,-1,1,95578,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,2,BNXN fka Buju,1
3,4,spotify:track:4lDghGd035xrzGp6Yec2j1,"Skiibii, Davido",Baddest Boy - Remix,More Grace Entertainment / Dvpper Music,4,-1,1,93390,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,1,Skiibii,1
4,5,spotify:track:6PojTTCNlz3qo3qBKuUyaO,"Mayorkun, Victony",Holy Father,SM Entertainment West Africa Limited,5,-1,1,86308,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,1,Mayorkun,1

In [31]:
# the_spotify_data["lenOnCharts"].unique().tolist()

In [32]:
# def getWeeksOnChart(x):
#     min_top_ten_date = min(x["Start Date"])
    
#     x["firstWeekOnChartTopTen"] = x.apply(lambda x : True if(x["isTopTen"] == 1 and x["Start Date"] == min_top_ten_date) else False , axis=1)    
    
#     def convertStrToDate(y):
#         split_date = y.split("-")
#         dateindtformat = datetime(int(split_date[0]), int(split_date[1]), int(split_date[2]))
        
#         return dateindtformat
        
#     firstweekdate = x[x["firstWeekOnChartTopTen"] == True]["Start Date"].unique().tolist()
#     if(len(firstweekdate) == 0):
#         firstweekdate = x["Start Date"].unique().tolist()
        
#     firstweekdate = firstweekdate[0]
    
   
# GET WEEK ON CHART
#     x["weeksOnChartToTopTen"] = x.apply(lambda art : convertStrToDate(firstweekdate) - convertStrToDate(min_top_ten_date), axis=1)
    
#     return x         
    
# the_spotify_data =the_spotify_data.groupby(["Artist", "Track Name"], as_index=False).apply(lambda x : getWeeksOnChart(x))

In [33]:
# the_spotify_data_top_ten = the_spotify_data_top_ten.reset_index()

In [34]:
# the_spotify_data_top_ten.columns

In [35]:
# the_spotify_data_top_ten.drop(['index'], axis=1, inplace=True)
# the_spotify_data_top_ten.head()

In [36]:
# the_spotify_data_top_ten.columns = ["Artist", "Track Name", "isTopTen"]

In [37]:
# the_spotify_data.shape, the_spotify_data.shape

In [38]:
# the_spotify_data_new = the_spotify_data.merge(the_spotify_data_top_ten, left_on=["Artist", "Track Name"], right_on=["Artist", "Track Name"], how="outer")

In [39]:
# the_spotify_data.shape, the_spotify_data_top_ten.shape

In [40]:
# the_spotify_data = the_spotify_data_top_ten

In [41]:
the_spotify_data["isTopTen"].value_counts()

0    4815
1     985
Name: isTopTen, dtype: int64

In [42]:
the_spotify_data.isnull().sum()

rank                   0
uri                    0
artist_names           0
track_name             0
source                 0
peak_rank              0
previous_rank          0
weeks_on_chart         0
streams                0
End Date               0
Week                   0
Year                   0
End Date Dt            0
Seconds since Epoch    0
End Date Aggregated    0
ArtistCount            0
main_artist            0
isTopTen               0
dtype: int64

In [43]:
unique_artists = the_spotify_data["main_artist"].unique().tolist()
num_artists = len(unique_artists)
print(num_artists)

247

In [44]:
### find new artists in that week

In [45]:
# the_spotify_data.head(12)
def getArtistAppearanceCount(x):
    
    x = x.reset_index()
    x.drop(["index"],axis=1,inplace=True)
    x = x.reset_index()
    
    x_cols = x.columns
    
    x_cols = [w.replace('index', 'artistAppearanceCount') for w in x_cols]
    
    x.columns = x_cols
    
    return x        
    
the_spotify_data =the_spotify_data.groupby(["main_artist"], as_index=False).apply(lambda x : getArtistAppearanceCount(x))
the_spotify_data = the_spotify_data.reset_index()
the_spotify_data.drop(["level_0", "level_1"], inplace=True, axis=1)

In [46]:
the_spotify_data.head()

,artistAppearanceCount,rank,uri,artist_names,track_name,source,peak_rank,previous_rank,weeks_on_chart,streams,End Date,Week,Year,End Date Dt,Seconds since Epoch,End Date Aggregated,ArtistCount,main_artist,isTopTen
0,0,36,spotify:track:4vHy2IHzf3EabEa7oMpUZB,1da Banton,No Wahala,Squareball Ent. Limited,36,-1,1,41233,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,1,1da Banton,0
1,1,33,spotify:track:4vHy2IHzf3EabEa7oMpUZB,1da Banton,No Wahala,Squareball Ent. Limited,33,36,2,41956,2022-02-24,8,2022,2022-02-24,1.645661e+09,2022-02-01,1,1da Banton,0
2,2,46,spotify:track:4vHy2IHzf3EabEa7oMpUZB,1da Banton,No Wahala,Squareball Ent. Limited,33,33,3,39122,2022-03-03,9,2022,2022-03-03,1.646266e+09,2022-03-01,1,1da Banton,0
3,3,49,spotify:track:4vHy2IHzf3EabEa7oMpUZB,1da Banton,No Wahala,Squareball Ent. Limited,33,46,4,36285,2022-03-10,10,2022,2022-03-10,1.646870e+09,2022-03-01,1,1da Banton,0
4,4,56,spotify:track:4yaPPFIafaVaMRHZ5IHkbA,"1da Banton, Kizz Daniel, Tiwa Savage",No Wahala - Remix,Squareball Ent. Limited,56,-1,1,30777,2022-03-10,10,2022,2022-03-10,1.646870e+09,2022-03-01,1,1da Banton,0

In [47]:
def getTrackAppearanceCount(x):
    
    x = x.reset_index()
    x.drop(["index"],axis=1,inplace=True)
    x = x.reset_index()
    
    x_cols = x.columns
    
    x_cols = [w.replace('index', 'trackAppearanceCount') for w in x_cols]
    
    x.columns = x_cols
    
    return x         
    
the_spotify_data =the_spotify_data.groupby(["artist_names", "track_name"], as_index=False).apply(lambda x : getTrackAppearanceCount(x))
the_spotify_data = the_spotify_data.reset_index()
the_spotify_data.drop(["level_0", "level_1"], inplace=True, axis=1)

In [48]:
the_spotify_data.head()

,trackAppearanceCount,artistAppearanceCount,rank,uri,artist_names,track_name,source,peak_rank,previous_rank,weeks_on_chart,streams,End Date,Week,Year,End Date Dt,Seconds since Epoch,End Date Aggregated,ArtistCount,main_artist,isTopTen
0,0,0,36,spotify:track:4vHy2IHzf3EabEa7oMpUZB,1da Banton,No Wahala,Squareball Ent. Limited,36,-1,1,41233,2022-02-17,7,2022,2022-02-17,1.645056e+09,2022-02-01,1,1da Banton,0
1,1,1,33,spotify:track:4vHy2IHzf3EabEa7oMpUZB,1da Banton,No Wahala,Squareball Ent. Limited,33,36,2,41956,2022-02-24,8,2022,2022-02-24,1.645661e+09,2022-02-01,1,1da Banton,0
2,2,2,46,spotify:track:4vHy2IHzf3EabEa7oMpUZB,1da Banton,No Wahala,Squareball Ent. Limited,33,33,3,39122,2022-03-03,9,2022,2022-03-03,1.646266e+09,2022-03-01,1,1da Banton,0
3,3,3,49,spotify:track:4vHy2IHzf3EabEa7oMpUZB,1da Banton,No Wahala,Squareball Ent. Limited,33,46,4,36285,2022-03-10,10,2022,2022-03-10,1.646870e+09,2022-03-01,1,1da Banton,0
4,4,5,53,spotify:track:4vHy2IHzf3EabEa7oMpUZB,1da Banton,No Wahala,Squareball Ent. Limited,33,49,5,31616,2022-03-17,11,2022,2022-03-17,1.647475e+09,2022-03-01,1,1da Banton,0

In [49]:
# artists = the_spotify_data["Artist"]
# the_spotify_data.drop(["Artist"],axis=1,inplace=True)
# the_spotify_data.reset_index(inplace=True)
# the_spotify_data.drop(["level_1"], axis=1, inplace=True)
# the_spotify_data["Artist"] = list(artists)

In [50]:
# the_spotify_data.drop(['index'], inplace=True, axis=1)

In [51]:
# the_spotify_data[["Position", "Start Date", "End Date"]].to_csv("the_spotify_data_val.csv", index=False)

In [52]:
the_spotify_data.to_csv("the_spotify_datang.csv")

In [53]:
the_spotify_data["rank"] = the_spotify_data["rank"].astype(int)
the_spotify_data["streams"] = the_spotify_data["streams"].astype(int)
the_spotify_data["ArtistCount"] = the_spotify_data["ArtistCount"].astype(int)

the_spotify_data["isTopTen"] = the_spotify_data["isTopTen"].astype(int)
# the_spotify_data["lenOnCharts"] = the_spotify_data["lenOnCharts"].astype(int)
the_spotify_data["Year"] = the_spotify_data["Year"].astype(int)
the_spotify_data["Week"] = the_spotify_data["Week"].astype(int)

In [54]:
all_cols = list(the_spotify_data.columns)
drop_cols = []

for col in all_cols:
    if("Unnamed" in col or "artificial" in col):
        drop_cols.append(col)
        
the_spotify_data.drop(drop_cols, axis=1, inplace = True)

In [55]:
the_spotify_data["Artist and Track"] = the_spotify_data["artist_names"] + "; " + the_spotify_data["track_name"]

In [56]:
# the_spotify_data.to_csv("Classification/all_files.csv", index=False)

### Getting the list of Artists and Tracks

In [57]:
import pandas as pd
import pymongo
import getlyrics

In [58]:
def trackAppearance(x):
#     x = x.reset_index()

    x = x.sort_values(by=["End Date"])
#     x.set_index(["Position"])

    x["rank"] = x["rank"].astype(int)
#     print(list(x["Position"]))
    
    x["rank difference"] = x["rank"].diff().fillna(0)
    x["rank difference"] = x["rank difference"].astype(int)
    
#     x["Position Difference"] = x["Position"].sub(x["Position"].shift())
#     x.drop(["index"], inplace=True)
    
    return x
    
all_files_grouped = the_spotify_data.groupby(["main_artist", "track_name"]).apply(lambda x: trackAppearance(x))

In [59]:
all_files_grouped["rank difference"].max()

135

### Position over time

In [60]:
def positionvertime(x):
    posovertime = 0
    #new track
    if(x["rank difference"] == 0 and x["trackAppearanceCount"]==0):
        posovertime = 0
    #track stayed in the same position
    elif(x["rank difference"] == 0 and x["trackAppearanceCount"]!=0):
        posovertime = 50
    #track went up the chart
    elif(x["rank difference"] < 0):
        posovertime = 75
    #track fell down the chart
    else:
        posovertime = 100
    return posovertime

In [61]:
all_files_grouped["Position over Time"] = all_files_grouped.apply(lambda x : positionvertime(x), axis=1)

In [62]:
all_files_grouped.to_csv("ClassificationNG/all_files_NGv1.csv", index=False)

In [63]:
len(list(all_files_grouped.columns))

23

In [64]:
# new_all_files_grouped = all_files_grouped.reset_index(drop=True)

In [65]:
def newstuff(x):
#     x = x.reset_index()

    x = x.sort_values(by=['Seconds since Epoch'])
#     x.set_index(["Position"])
    print(x)
    
    return x

In [66]:
# all_files_grouped = new_all_files_grouped.groupby(["Artist", "Track Name"]).apply(lambda x: newstuff(x))

In [67]:
# all_files_grouped.min()

In [68]:
# df = pd.DataFrame({'A': 'a a b'.split(), 'B': [1,2,3], 'C': [4,6, 5]})

In [69]:
# new_all_files_grouped.groupby([])

In [70]:
# all_files_grouped.apply(lambda x : print(type(x)) )

In [71]:
# # new_all_files_grouped.h'Track Name', 'Artist'ead(5)
# cols_ = ['Start Date', 'Seconds since Epoch', 'Position']
# new_test_df = pd.DataFrame()

In [72]:
# 604800
def weekonweekposition(x):
    
#     print(x.values)
    
    pd.DataFrame({'email':x.index, 'list':x.values})
    
    
#     return x_
    
#     x_ = pd.DataFrame(x, columns=['Start Date'])
    
#     x_ = x.to_frame()
    
#     print(x_.columns)
    
#     for n in range(0, fin_len):
#         for col in cols_:
#             print(len(x[n]), x[n], col)
        
    
#     x_ = pd.DataFrame(x, columns=cols_)
#     print(x_.shape)
#     print(x.columns)

In [73]:
# all_files_gr = new_all_files_grouped[['Artist', 'Track Name', 'Seconds since Epoch', 'Position']]

In [74]:
# all_files_grouped[cols_].apply( lambda x : weekonweekposition(x) )

In [75]:
# new_test_df

### South African Artists

In [76]:
all_files_grouped.shape

(5800, 23)

In [77]:
all_files_grouped.columns

Index(['trackAppearanceCount', 'artistAppearanceCount', 'rank', 'uri',
       'artist_names', 'track_name', 'source', 'peak_rank', 'previous_rank',
       'weeks_on_chart', 'streams', 'End Date', 'Week', 'Year', 'End Date Dt',
       'Seconds since Epoch', 'End Date Aggregated', 'ArtistCount',
       'main_artist', 'isTopTen', 'Artist and Track', 'rank difference',
       'Position over Time'],
      dtype='object')

In [78]:
narrowing_df = all_files_grouped[['End Date', "rank difference"]]

In [79]:
narrowing_df.reset_index(inplace=True)

In [80]:
narrowing_df.drop(["level_2"], axis=1, inplace=True)

C:\Users\lkhum\anaconda3\envs\tfenviron\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [81]:
narrowing_df = narrowing_df[narrowing_df["rank difference"] == 0]

In [82]:
narrowing_df.to_csv("ClassificationNG/narrow_uniq.csv", index=False)

In [83]:
# narow_artists_unique

In [84]:
uniquartists_cat_df = pd.read_csv("ClassificationNG/uniquartists_cat.csv")

In [85]:
narrowing_df_art = narrowing_df[["main_artist"]]
uniquartists_cat_df_art = uniquartists_cat_df[["main_artist"]]

narrowing_df_art.drop_duplicates(inplace=True)
uniquartists_cat_df_art.drop_duplicates(inplace=True)

<ipython-input-85-bdc7042f4a86>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  narrowing_df_art.drop_duplicates(inplace=True)
<ipython-input-85-bdc7042f4a86>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uniquartists_cat_df_art.drop_duplicates(inplace=True)

In [86]:
len(narrowing_df_art), len(uniquartists_cat_df_art)

(247, 248)

In [87]:
minus_list = list(set(narrowing_df_art["main_artist"]) - set(uniquartists_cat_df_art["main_artist"]))

In [88]:
minus_list_df = pd.DataFrame()
minus_list_df["main_artist"] = minus_list
minus_list_df["country"] = [""]*len(minus_list)
minus_list_df.to_csv("ClassificationNG/New Artist to Cat.csv", index=False)

In [89]:
edited_minus_list_df = pd.read_csv("ClassificationNG/New Artist to Cat.csv")
uniquartists_cat_df = pd.read_csv("ClassificationNG/uniquartists_cat.csv")

added_files = [edited_minus_list_df, uniquartists_cat_df]
added_files_df = pd.concat(added_files)
added_files_df.to_csv("ClassificationNG/uniquartists_cat.csv", index=False)

In [90]:
south_african_artists_df = added_files_df[added_files_df["country"] == "NG"]
south_african_artists = south_african_artists_df["main_artist"].tolist()

In [91]:
len(south_african_artists)

0

In [92]:
south_african_artists_lower = []
for sartists in south_african_artists:
    south_african_artists_lower.append(sartists.lower())

In [93]:
uniq_sans = south_african_artists_lower

In [94]:
len(uniq_sans)

0

In [95]:
len(south_african_artists)

0

In [96]:
all_files_grouped['Lower Artist'] = all_files_grouped['main_artist'].apply(lambda x : x.lower() )

In [97]:
boolean_series = all_files_grouped["Lower Artist"].isin(uniq_sans)
all_files_grouped_filtered_df = all_files_grouped[boolean_series]

In [98]:
# df_sa = pd.read_csv("SA Musicians List.csv")

In [99]:
# sa_artists_scrapped = df_sa["Artist"].unique().tolist()

In [100]:
# sa_artists_scrapped_lower = []
# for uniqart in sa_artists_scrapped:
#     sa_artists_scrapped_lower.append(uniqart.lower())

In [101]:
# non_uniq = list(set(sa_artists_scrapped_lower) - set(south_african_artists_lower) )

# uniq_sans = list(set(sa_artists_scrapped_lower) - set(non_uniq) )

In [102]:
# len(uniq_sans)

In [103]:
all_files_grouped_filtered_df.to_csv("ClassificationNG/JustNigeriansOnNGChart.csv", index=False)

In [104]:
all_files_grouped_filtered_df.shape

(0, 24)

In [105]:
all_files_grouped_filtered_df.drop(["main_artist", "track_name"], inplace=True, axis=1)

C:\Users\lkhum\anaconda3\envs\tfenviron\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [106]:
all_files_grouped_filtered_df = all_files_grouped_filtered_df.reset_index()

In [107]:
all_files_grouped_filtered_df.drop(["level_2"], axis=1, inplace = True)

In [108]:
# treemap_df = all_files_grouped_filtered_df[["Streams", "Year", "Position"]]

In [109]:
# treemap_df_spec = treemap_df.groupby([ "Year"])["Streams", "Position"].agg('sum')

In [110]:
# treemap_df_spec = treemap_df_spec.reset_index()

In [111]:
# len_v = treemap_df_spec.shape[0]

In [112]:
# treemap_df_spec["side"] = ["right"] * len_v

In [113]:
# treemap_df_spec.columns = ["year", "gas", "miles", "side"]

In [114]:
# treemap_df_spec.to_csv("scatterp.csv", index=False)

In [115]:
# treemap_df_val = treemap_df_spec.pivot(columns=["End Date"], values="Streams", index="Artist")
# treemap_df_val = treemap_df_val.fillna(0)

In [116]:
# treemap_df.melt(columns=["Artist", "End Date"], values="Streams")

In [117]:
# treemap_df_val

In [118]:
# treemap_df_csv = all_files_grouped_filtered_df[["Artist"]]
# treemap_df_csv["Region"] = "ZA"
# treemap_df_csv["State"] = all_files_grouped_filtered_df["Artist"]
# treemap_df_csv["Division"] = all_files_grouped_filtered_df["Artist"]
# treemap_df_csv.to_csv("treemap-region.csv", index=False)

In [119]:
tot_streams_all_files_grouped_filtered_df = all_files_grouped_filtered_df[['main_artist', 'streams']]

In [120]:
tot_streams_all_files_grouped_filtered_df_fin = tot_streams_all_files_grouped_filtered_df.groupby(["main_artist"]).sum()

In [121]:
tot_streams_all_files_grouped_filtered_df_fin.reset_index(inplace=True)

In [122]:
tot_streams_all_files_grouped_filtered_df_fin = tot_streams_all_files_grouped_filtered_df_fin.sort_values(by='streams', ascending=False)

In [123]:
tot_streams_all_files_grouped_filtered_df_fin.head(11)

Empty DataFrame
Columns: [main_artist, streams]
Index: []

In [124]:
top_10_ZA_artists = tot_streams_all_files_grouped_filtered_df_fin["main_artist"].tolist()

In [125]:
# top_10_ZA_artists

In [126]:
for artist in top_10_ZA_artists:
    kabza_de_small = all_files_grouped_filtered_df[all_files_grouped_filtered_df["main_artist"] == artist]

    kb_racing_bar_df = kabza_de_small[['End Date Aggregated', "track_name", 'Year', 'streams']]

    kb_racing_bar_df.columns = ['date', "name", 'category', 'value']
    kb_racing_bar_df = kb_racing_bar_df.groupby(['date', "name", 'category']).sum()
    kb_racing_bar_df.reset_index(inplace=True)
    
    kb_racing_bar_df.to_csv("ClassificationNG/topten/_" + artist + "_ZAChartracing_bar.csv", index=False)

### For the bar chart race

In [127]:
len(all_files_grouped_filtered_df)

0

In [128]:
racing_bar_df = all_files_grouped_filtered_df[['End Date Aggregated', "main_artist", 'Year', 'streams']]

In [129]:
racing_bar_df.columns = ['date', "name", 'category', 'value']

In [130]:
racing_bar_df.to_csv("ClassificationNG/JustNigeriansOnNGChartracing_bar.csv", index=False)

In [131]:
# len(racing_bar_df["End Date Dt"].unique().tolist())

#### Monthly bar chart race

In [132]:
monthly_racing_bar_df = all_files_grouped_filtered_df[['End Date Dt', "main_artist", 'Year', 'streams']]

# monthly_racing_bar_df.groupby(["Artist", 'End Date Dt']).sum('Streams')

In [133]:
monthly_racing_bar_df["Month"] = monthly_racing_bar_df["End Date Dt"].apply(lambda x : x.month)

In [134]:
monthly_racing_bar_agg_df = monthly_racing_bar_df.groupby(["main_artist", "Month", "Year"]).sum("streams").reset_index()

In [135]:
# monthly_racing_bar_agg_df["date"] = monthly_racing_bar_agg_df.apply( lambda x : datetime(int(x["Year"]), int(x["Month"]), 1), axis=1)

In [136]:
# monthly_racing_bar_agg_df.drop(["Year"], inplace = True, axis=1)

In [137]:
# monthly_racing_bar_fin = pd.DataFrame()
# monthly_racing_bar_fin['date'] = monthly_racing_bar_agg_df["date"]
# monthly_racing_bar_fin['name'] = monthly_racing_bar_agg_df["main_artist"]
# monthly_racing_bar_fin['category'] = monthly_racing_bar_agg_df["Month"]
# monthly_racing_bar_fin['value'] = monthly_racing_bar_agg_df["streams"]

In [138]:
# monthly_racing_bar_fin.to_csv("ClassificationNG/JustNigeriansOnNGChartMonthlyracing_bar.csv", index=False)

### animated tree map

In [139]:
# anim_tree_map_df = all_files_grouped_filtered_df[['Year', 'Streams']]

In [140]:
# anim_tree_map_df = anim_tree_map_df.reset_index()

In [141]:
# anim_tree_map_df.drop(["Track Name", "level_2"], axis=1, inplace=True)

In [142]:
# anim_tree_map_df_more = anim_tree_map_df.groupby(['Artist', 'Year']).agg(['sum']).reset_index()

In [143]:
# anim_tree_map_df_more.columns

In [144]:
# anim_tree_map_df_more.columns = ["name", "year", "income"]

In [145]:
# anim_tree_map_df_more['income'] = anim_tree_map_df_more['income'].astype(int)
# anim_tree_map_df_more['year'] = anim_tree_map_df_more['year'].astype(int)

In [146]:
# anim_tree_map_df_more.dtypes

In [147]:
# names = anim_tree_map_df_more.name
# years = anim_tree_map_df_more.year
# streams = anim_tree_map_df_more.income

In [148]:
# anim_tree_map_ls_more = []

# for n in range(0,len(names)):
#     anim_tree_map_ls = [int(years[n]), int(streams[n])]
#     anim_tree_map_dict_more = {}
#     anim_tree_map_dict_more[names[n]] = anim_tree_map_ls
#     anim_tree_map_ls_more.append(anim_tree_map_dict_more)

In [149]:
# anim_tree_map_ls_more

In [150]:
# from collections import defaultdict

# dd = defaultdict(list)

# for d in (anim_tree_map_ls_more): # you can list as many input dicts as you want here
#     for key, value in d.items():
#         dd[key].append(value)

In [151]:
# dict_dd = dict(dd)

In [152]:
# d_keys = list(dict_dd.keys())
# d_values = list(dict_dd.values())
# the_dd = []

# for n in range(0,len(d_keys)):
#     anim_tree_map_dict_more = {}
#     anim_tree_map_dict_more["name"] = d_keys[n]
#     anim_tree_map_dict_more["income"] = d_values[n]
#     anim_tree_map_dict_more["region"] = "ZA"
#     anim_tree_map_dict_more["population"] = d_values[n]
#     anim_tree_map_dict_more["lifeExpectancy"] = d_values[n]
    
    
    
#     the_dd.append(anim_tree_map_dict_more)

In [153]:
# the_dd

In [154]:
# import json
# with open('zaartists.json', 'w') as fp:
#     json.dump(the_dd, fp)