### Collaborators of an artist

In [1]:
import pandas as pd

In [2]:
allfilesclass = pd.read_csv("Classification/all_files_ZAv1.csv")

In [3]:
allfilesclass.shape

(62086, 23)

In [4]:
collabsdf = allfilesclass[["main_artist", "artist_names"]].drop_duplicates()

In [5]:
collabsdf.shape

(3026, 2)

##### Remove the main artist

In [6]:
def theremovalofmainartist(x):
    y = list(set(x["artist_names"].split(", ")) - set([x["main_artist"]]))
    
    y = ' - '.join(map(str,y))
    
    return y

In [7]:
mainartist = "Busiswa"

In [8]:
collabsdf["artist_names"] = collabsdf.apply(lambda x : theremovalofmainartist(x),axis=1)
collabsdf = collabsdf[collabsdf["artist_names"] != mainartist]

In [9]:
collabsdf.shape

(3026, 2)

In [10]:
# collabsdf=collabsdf.drop_duplicates()

In [11]:
collabsdf.to_csv("Classification/Collaborations_data.csv", index=False)

### Get a collaboration count for all artists

In [36]:
def splitanddict(x):
    art_dict = {}
    xsplit = x["artist_names"].split("-")
    xsplit = list(set(xsplit) - set(list(x["main_artist"])))
    
    art_dict[x["main_artist"]] = xsplit

    return art_dict

In [37]:
collabsdf["art_dict"] = collabsdf.apply(lambda x : splitanddict(x), axis=1)

ls = collabsdf[collabsdf["main_artist"]=="$"]["art_dict"].tolist()

from collections import defaultdict


dd = defaultdict(list)

for d in ls: # you can list as many input dicts as you want here
    for key, value in d.items():
        dd[key].append(value)
    
print(dd) # result: defaultdict(<type 'list'>, {1: [2, 6], 3: [4, 7]})

import itertools

def flatten_list(nested_list):
    return list(itertools.chain(*nested_list))

flatone = flatten_list(list(dd.values()))
flattwo = flatten_list(flatone)

thedict = {}

for aval in flattwo:
    thedict[aval]=0

for aval in flattwo:
    thedict[aval]+=1

defaultdict(<class 'list'>, {'$': [[' Kanye West', 'Ty Dolla $ign '], [' Kanye West', 'Rich The Kid ', ' Playboi Carti ', ' Ty Dolla $ign ']]})

In [38]:
thedict

{' Kanye West': 2,
 'Ty Dolla $ign ': 1,
 'Rich The Kid ': 1,
 ' Playboi Carti ': 1,
 ' Ty Dolla $ign ': 1}

##### Select a main artist and get their collaborators

In [60]:
collabsdf.columns

Index(['main_artist', 'artist_names', 'art_dict'], dtype='object')

In [61]:
thels = []
thelsdict = {}
def theconjuction(x):
    xpslit = x.split("-")
    
    thels.append(xpslit)

In [62]:
thecolasdjmaphorisa = collabsdf[collabsdf["main_artist"] == mainartist]

thecolasdjmaphorisa['artist_names'].apply(lambda x : theconjuction(x))

res_list = [y for x in thels for y in x]
rest_list_vf = list(set(res_list))

all_rest_list_vf = []
for ares in rest_list_vf:
    theares = ares.strip()
    
    all_rest_list_vf.append(theares)
    
    all_rest_list_vf = list(set(all_rest_list_vf))

In [63]:
thecolasdjmaphorisa = collabsdf[collabsdf["main_artist"] == mainartist]

thecolasdjmaphorisa['artist_names'].apply(lambda x : theconjuction(x))

res_list = [y for x in thels for y in x]
rest_list_vf = list(set(res_list))

all_rest_list_vf1 = []
for ares in rest_list_vf:
    theares = ares.strip()
    
    all_rest_list_vf1.append(theares)
    
    all_rest_list_vf1 = list(set(all_rest_list_vf1))
    
# all_rest_list_vf1

###### Create a dictionary with 0 counts

In [15]:
keys=all_rest_list_vf1
values=[0]*len(all_rest_list_vf1)
res = dict(map(lambda i,j : (i,j) , keys,values))

###### Loop through the collaborators and add to the count at every appearance count

In [16]:
res_list = [y for x in thels for y in x]
rest_list_vf = list(set(res_list))

all_rest_list_vf1 = []
for ares in rest_list_vf:
    theares = ares.strip()
    
    res[theares] +=1
    
#     all_rest_list_vf1.append(theares)
    
#     all_rest_list_vf1 = list(set(all_rest_list_vf1))

##### write the dataframe to a csv

In [17]:
thecollabsdf = pd.DataFrame.from_dict(res, orient="index")

In [18]:
thecollabsdf = thecollabsdf.reset_index()

In [19]:
thecollabsdf

            index  0
0    DJ Maphorisa  1
1       Mas Musiq  1
2     Vyno Miller  1
3  Kabza De Small  1

In [20]:
thecollabsdf.columns = ["artist", "number of times"]

In [21]:
thecollabsdf.to_csv("artists_za_collaborators/"+ mainartist +".csv", index=False)