In [1]:
# %cd C:\Users\lkhum\OneDrive\Documents\Spotify Analysis Repos\top200globalchart\updated-spotify-top200globalchart-analysis\spotify-top200globalchart-analysis\NOTEBOOKS\

In [2]:
import pandas as pd
import json
import string

In [3]:
all_files_za = pd.read_csv("../Classification/all_files_globalv1.csv")

In [4]:
all_files_za[["artist_names", "track_name", "rank", "End Date"]]

                       artist_names       track_name  rank    End Date
0      $, Kanye West, Ty Dolla $ign       BACK TO ME    24  2024-02-15
1      $, Kanye West, Ty Dolla $ign       BACK TO ME    81  2024-02-22
2      $, Kanye West, Ty Dolla $ign  BEG FORGIVENESS    89  2024-02-15
3      $, Kanye West, Ty Dolla $ign             BURN    21  2024-02-15
4      $, Kanye West, Ty Dolla $ign             BURN    36  2024-02-22
...                             ...              ...   ...         ...
94177         Young Cister, Kreamly            QLOO*   174  2025-12-25
94178                  Zara Larsson        Lush Life    69  2025-12-25
94179                         sombr         12 to 12   113  2025-12-25
94180                         sombr  back to friends    30  2025-12-25
94181                         sombr        undressed   158  2025-12-25

[94182 rows x 4 columns]

In [5]:
# 1. Split into a separate DataFrame
split_df = all_files_za['artist_names'].str.split(',', expand=True)

df = pd.concat([all_files_za, split_df], axis=1).drop('artist_names', axis=1)

df = df.fillna("")

# Dictionary for renaming: {'old_name': 'new_name'}
rename_mapping = {
    1: 'artist_1',
    2: 'artist_2',
    3: 'artist_3',
    4: 'artist_4',
    5: 'artist_5',
    6: 'artist_6',
    7: 'artist_7',
    8: 'artist_8',
    9: 'artist_9',
    10: 'artist_10',
}

# Rename the columns
# Use inplace=True to modify the original DataFrame
df.rename(columns=rename_mapping, inplace=True)