In [1]:
import pandas as pd
import glob2
import matplotlib.pyplot as plt
import datetime
import re
from datetime import datetime, timedelta
import itertools
%matplotlib inline

In [2]:
all_files = pd.read_csv("Classification/all_files_ZAv1.csv")

In [3]:
all_files.columns, all_files.shape

(Index(['trackAppearanceCount', 'artistAppearanceCount', 'rank', 'uri',
        'artist_names', 'track_name', 'source', 'peak_rank', 'previous_rank',
        'weeks_on_chart', 'streams', 'End Date', 'Week', 'Year', 'End Date Dt',
        'Seconds since Epoch', 'End Date Aggregated', 'ArtistCount',
        'main_artist', 'isTopTen', 'Artist and Track', 'rank difference',
        'Position over Time'],
       dtype='object'),
 (49486, 23))

In [4]:
za2022 = all_files[all_files["Year"] == 2022]

In [5]:
za2022.shape

(10000, 23)

In [21]:
def groupbyvalue(za2022, idcol, relevantcols, groupcol, countdistinctcol):
    za2022df = za2022[relevantcols].groupby([groupcol]).agg({countdistinctcol: pd.Series.nunique})
    new2022df = pd.DataFrame(za2022df)
    new2022df.columns = ["count_" + countdistinctcol]
    
    new2022df = new2022df.reset_index()
    
    new2022dfunique = new2022df[[idcol, "count_" + countdistinctcol]]
    
    new2022dfunique = new2022dfunique.drop_duplicates()
    
    return new2022dfunique

def sortvaluesbyorder(new2022dfunique, countdistinctcolname, isascending):
    zacountsorted = new2022dfunique.sort_values(by=countdistinctcolname, ascending=isascending)
    zacountsorted = zacountsorted.reset_index()
    zacountsorted.drop(["index"], inplace=True, axis=1)
    zacountsorted = zacountsorted.dropna()
    
    return zacountsorted

In [22]:
relevantcols = ['main_artist', 'track_name', 'streams']
groupcol = "main_artist"
countdistinctcol = "track_name"

idcol = "main_artist"
new2022dfunique = groupbyvalue(za2022, idcol, relevantcols, groupcol, countdistinctcol)

print(list(new2022dfunique.columns), new2022dfunique.shape)

countdistinctcolname = "count_" + countdistinctcol

zacountsorted = sortvaluesbyorder(new2022dfunique, countdistinctcolname, False)

print(list(zacountsorted.columns), zacountsorted.shape)

zacountsorted.to_csv("Classification/sorted_artists_ZA2022.csv", index=False)

(Index(['main_artist', 'count_track_name'], dtype='object'), (388, 2))

In [19]:
zacountsorted

        main_artist  count_track_name
0             Drake                39
1       Kelvin Momo                31
2        The Weeknd                26
3    Kendrick Lamar                25
4               SZA                24
..              ...               ...
383    James Arthur                 1
384            JVKE                 1
385         JP Saxe                 1
386       JP Cooper                 1
387           uLazi                 1

[388 rows x 2 columns]

##### FIND ALL ARTISTS THAT APPEARED ON THE CHART IN THIS YEAR

In [20]:
# theartists = za2022[["artist_names"]].drop_duplicates()
# theartists["artists"] = theartists["artist_names"].apply(lambda x : x.split(","))
# the_artists_dict = theartists.to_dict("records")

# all_artists = []
# for anartist in the_artists_dict:
#     all_artists.append(anartist["artists"])
    
# mergedartists = list(itertools.chain(*all_artists))

# uniquemergedartists = list(set(mergedartists))

# unique_artists = []
# for anartist in uniquemergedartists:
#     unique_artists.append(anartist.lstrip())
    
# print(len(unique_artists))

# unique_artists_df = pd.DataFrame(unique_artists)
# unique_artists_df.columns = ["artist"]

# unique_artists_df = unique_artists_df.drop_duplicates()

# sorted_unique_artists_df = unique_artists_df.sort_values(by='artist')

# sorted_unique_artists_df.to_csv("Classification/unique_artists_za_2022.csv", index=False)

# sorted_unique_artists_df