In [1]:
import pandas as pd
import glob2
import matplotlib.pyplot as plt
import datetime
import re
from datetime import datetime, timedelta
%matplotlib inline

In [2]:
locale_name = "global"
read_enc_val ="ISO-8859-1"
read_enc_val ="cp1252"
read_enc_val ="utf-8"

In [3]:
global_music_file_paths = glob2.glob('spotify ' + locale_name + ' v2/*.csv')

In [4]:
print(len(global_music_file_paths))

433

In [5]:
print(global_music_file_paths[:4])

['spotify global v2\\regional-global-weekly-2016-12-29.csv', 'spotify global v2\\regional-global-weekly-2017-01-05.csv', 'spotify global v2\\regional-global-weekly-2017-01-12.csv', 'spotify global v2\\regional-global-weekly-2017-01-19.csv']

In [6]:
# global_music_file_paths

In [7]:
#Add the dates to the files - run once
def addsDatesToData():
    to_remove_front = "spotify " +locale_name+ " v2\\regional-" +locale_name+"-weekly-"
    to_remove_back = ".csv"

    len_front_remove = len(to_remove_front)
    len_back_remove = len(to_remove_back)
    
    removed_files_n = 0

    for file in global_music_file_paths: 
        try:
            the_data_in_file = pd.read_csv(file, encoding=read_enc_val)
            
            the_dates = file[len_front_remove:]
            the_dates = the_dates[:-len_back_remove]

            split_dates = the_dates.split("-")

            start_date = split_dates[0] + "-" + split_dates[1] + "-" + split_dates[2]


            len_dates = the_data_in_file.shape[0]
            start_dates = len_dates * [start_date]

            date_columns = {"End Date": start_dates}   

            the_data_in_file["End Date"] = start_dates

            #write the data back to the File
            the_data_in_file.to_csv(file, index=False)
            
#         the_data_in_file = the_data_in_file.iloc[1: , :]
#         the_data_in_file.columns = ["Position", "Track Name", "Artist", "Streams", "URL"]
        except:
            removed_files_n +=1
            print(file)
            
    print(removed_files_n)
        
#remove dates in existing files
def removeExistingDates():
    for file in global_music_file_paths:
        
        the_data_in_file = pd.read_csv(file, encoding=read_enc_val, sep=",")

        the_data_in_file.drop(["Start Date", "End Date"], axis=1, inplace=True) 

        the_data_in_file.to_csv(file, index=False)
    
#check for dates ... opting for removal and putting them back on

In [8]:
# all_files_dates = pd.DataFrame()
# def findmissingDates():
#     all_files_dates = pd.read_csv("all_files.csv", encoding="utf-8")
    
#     all_files_dates = all_files_dates[["Start Date", "End Date"]] 
    
#     all_files_dates = all_files_dates.drop_duplicates().reset_index().drop(["index"], axis=1)
    
#     return all_files_dates

In [9]:
# all_files_dates = findmissingDates()

In [10]:
# all_files_dates

In [11]:
# removeExistingDates()
addsDatesToData()

0

In [12]:
# the_data_in_file

In [13]:
# pd.date_range(start ='2019-11-01', end = '2019-12-27').difference(all_files_dates.index)

In [14]:
# stop

In [15]:
#Combine the files and sort by dates
all_files = []
trouble_files = []
for file in global_music_file_paths:
    try:
        the_data_in_file = pd.read_csv(file)
        
        if("URL" in list(the_data_in_file.columns)):
        
            the_data_in_file = the_data_in_file.drop(["URL"], axis=1)
        
        list_vals = sum(list(the_data_in_file.isnull().sum()))
    
        if(list_vals > 0):
            trouble_files.append(file)
        all_files.append(the_data_in_file)
    except:
        print(file, "did not do this file.")
    
the_spotify_data = pd.concat(all_files) 
# trouble_files_df = pd.concat(trouble_files)

In [16]:
# the_spotify_data["Start Date"].unique().tolist()

In [17]:
# stop

In [18]:
all_cols = list(the_spotify_data.columns)
drop_cols = []

for col in all_cols:
    if("Unnamed" in col or "artificial" in col):
        drop_cols.append(col)
        
the_spotify_data.drop(drop_cols, axis=1, inplace = True)

In [19]:
the_spotify_data.columns

Index(['rank', 'uri', 'artist_names', 'track_name', 'source', 'peak_rank',
       'previous_rank', 'weeks_on_chart', 'streams', 'End Date'],
      dtype='object')

In [20]:
the_spotify_data

,rank,uri,artist_names,track_name,source,peak_rank,previous_rank,weeks_on_chart,streams,End Date
0,1,spotify:track:5aAx2yezTd8zXrkmtKl66Z,"The Weeknd, Daft Punk",Starboy,Universal Republic Records,1,-1,1,25286465,2016-12-29
1,2,spotify:track:7BKLCZ1jbUBVqRi2FVlTVw,"The Chainsmokers, Halsey",Closer,Disruptor Records/Columbia,2,-1,1,22047697,2016-12-29
2,3,spotify:track:5knuzwU65gJK7IF5yJsuaW,"Clean Bandit, Sean Paul, Anne-Marie",Rockabye (feat. Sean Paul & Anne-Marie),Atlantic Records UK,3,-1,1,19794482,2016-12-29
3,4,spotify:track:4pdPtRcBmOSQDlJ3Fk945m,"DJ Snake, Justin Bieber",Let Me Love You,DJ Snake Def Jam,4,-1,1,17965723,2016-12-29
4,5,spotify:track:5MFzQMkrl1FOOng9tq6R9r,"Maroon 5, Kendrick Lamar",Don't Wanna Know (feat. Kendrick Lamar),Interscope Records*,5,-1,1,16966668,2016-12-29
...,...,...,...,...,...,...,...,...,...,...
195,196,spotify:track:42VsgItocQwOQC3XWZ8JNA,"Travis Scott, Playboi Carti",FE!N (feat. Playboi Carti),Cactus Jack/Epic,5,186,82,8171755,2025-04-10
196,197,spotify:track:0u2P5u6lvoDfwTYjAADbn4,"Billie Eilish, Khalid",lovely (with Khalid),Darkroom,24,182,363,8160792,2025-04-10
197,198,spotify:track:1XBYiRV30ykHw5f4wm6qEn,The Kid LAROI,NIGHTS LIKE THIS,Columbia,41,-1,39,8160593,2025-04-10
198,199,spotify:track:1Cbl3Yq8rHo7hhDQmLQagU,Tyla,PUSH 2 START,FAX Records/Epic,61,-1,13,8156062,2025-04-10
199,200,spotify:track:7KNmIjcmGJIBrhP2s5Vioe,"LISA, Doja Cat, RAYE",Born Again (feat. Doja Cat & RAYE),Lloud Co./RCA Records,13,184,9,8152658,2025-04-10

In [21]:
# the_spotify_data["End Date"].unique().tolist()

### Error checking that all the Thursday dates are present

In [23]:
date_list = the_spotify_data["End Date"].unique().tolist()
start_date = date_list[0]
end_date = date_list[len(date_list)-1]

In [24]:
len(date_list)

433

In [25]:
start_date, end_date

('2016-12-29', '2025-04-10')

In [26]:
def check_thursdays_in_range(date_list, start_date, end_date):
    # Convert start_date and end_date strings to datetime objects
    start_date = datetime.strptime(start_date, "%Y-%m-%d")
    end_date = datetime.strptime(end_date, "%Y-%m-%d")
    
    # Initialize a set to store Thursdays in the range
    thursdays_in_range = set()
    
    # Iterate through the range of dates and add Thursdays to the set
    current_date = start_date
    while current_date <= end_date:
        if current_date.weekday() == 3:  # Thursday
            thursdays_in_range.add(current_date.strftime("%Y-%m-%d"))
        current_date += timedelta(days=1)
    
    # Convert date_list to a set for efficient membership checking
    date_set = set(date_list)
    
    # Find missing Thursdays
    missing_thursdays = sorted(thursdays_in_range - date_set)
    print("thursdays_in_range: ", len(thursdays_in_range))
    print("date_set: ", len(date_set))
    
    if missing_thursdays:
        print("Missing Thursdays in the range:")
        for thursday in missing_thursdays:
            print(thursday)
        return False
    else:
        print("All Thursdays are present in the range.")
        return True

result = check_thursdays_in_range(date_list, start_date, end_date)
print("All Thursdays present:", result)

thursdays_in_range:  433
date_set:  433
All Thursdays are present in the range.
All Thursdays present: True

In [27]:
the_spotify_data["Week"] = the_spotify_data["End Date"].apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))
the_spotify_data["Year"] = the_spotify_data["Week"]

the_spotify_data['Week'] = the_spotify_data['Week'].apply(lambda x : x.isocalendar()[1] )
the_spotify_data['Year'] = the_spotify_data['Year'].apply(lambda x : x.isocalendar()[0] )

# the_spotify_data["Start Date Dt"] = the_spotify_data["Start Date"].apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))
the_spotify_data["End Date Dt"] = the_spotify_data["End Date"].apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))
the_spotify_data['Seconds since Epoch'] = the_spotify_data['End Date Dt'].apply(lambda x : round(x.timestamp(), 0))

In [28]:
#get the month when this happened
def changedaytotheFirst(x):
    x = x[:-2] + "01"
    
    return x

In [29]:
the_spotify_data["End Date Aggregated"] = the_spotify_data["End Date"].apply(lambda x : changedaytotheFirst(x) )

In [30]:
# the_spotify_data[["artist_names"]]

In [31]:
# stop

In [32]:
#find the number of artists on the track
the_spotify_data.dropna(inplace=True)

enc_val = "utf-8"
enc_val = read_enc_val

the_spotify_data["artist_names"] = the_spotify_data["artist_names"].apply(lambda x : x.encode(enc_val).decode("latin-1"))
the_spotify_data["artist_names"] = the_spotify_data["artist_names"].apply(lambda x : re.sub(r'[^\x00-\x7F]+','', x))
the_spotify_data["artist_names"] = the_spotify_data.apply(lambda x : x["artist_names"] + "Artist_NA" if(x["artist_names"] == "") else x["artist_names"], axis=1)

the_spotify_data["track_name"] = the_spotify_data["track_name"].apply(lambda x : x.encode(enc_val).decode("latin-1"))
the_spotify_data["track_name"] = the_spotify_data["track_name"].apply(lambda x : re.sub(r'[^\x00-\x7F]+','', x))
the_spotify_data["track_name"] = the_spotify_data.apply(lambda x : x["artist_names"] + "_NA" if(x["track_name"] == "") else x["track_name"], axis=1)

def countNumberArtists(x):
    len_all_featured_artists = 0
    num_artists = 0
    xvals = x.split("feat")
    len_xvals = len(xvals)
    
    if(len_xvals > 1):
        featured_artists = xvals[1:]
        featured_artists_str = ' '.join(featured_artists)
        all_featured_artists = featured_artists_str.split("& ")
        len_all_featured_artists = len(all_featured_artists)
        
    num_artists = 1 + len_all_featured_artists
    
    return num_artists
        
    
the_spotify_data['ArtistCount'] = the_spotify_data['track_name'].apply(lambda x : countNumberArtists(x))

In [33]:
the_spotify_data.shape

(86582, 16)

In [34]:
the_spotify_data["main_artist"] = the_spotify_data.apply(lambda x : x["artist_names"].split(",")[0], axis=1)

In [35]:
the_spotify_data = the_spotify_data.reset_index()
the_spotify_data.drop(["index"], axis=1, inplace=True)

In [36]:
the_spotify_data.shape

(86582, 17)

In [37]:
def everInTopTen(x):
    position_vals = list(x["rank"])
    position_vals = list(set(position_vals))
    
#     print(position_vals)
    
    min_pos = min(position_vals)
    existence_val = 0
    
    if(min_pos <= 10):
        existence_val = 1
    
    x["isTopTen"] = [existence_val] * len(x)
    
    return x
    
the_spotify_data = the_spotify_data[~the_spotify_data.index.duplicated()]
the_spotify_data = the_spotify_data.groupby(["artist_names", "track_name"]).apply(lambda x : everInTopTen(x))

C:\Users\lkhum\AppData\Local\Temp\ipykernel_24204\3443158733.py:18: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  the_spotify_data = the_spotify_data.groupby(["artist_names", "track_name"]).apply(lambda x : everInTopTen(x))

In [38]:
the_spotify_data.head()

                                                    rank  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405    24
                                             74662    81
                             BEG FORGIVENESS 74470    89
                             BURN            74402    21
                                             74617    36

                                                                                     uri  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405  spotify:track:1icgLGTpX2fQXKRe4D7w2b
                                             74662  spotify:track:1icgLGTpX2fQXKRe4D7w2b
                             BEG FORGIVENESS 74470  spotify:track:4ihV1wv7QmjbkLHaT9lA4s
                             BURN            74402  spotify:track:04CyMEHliadfQWMUJb1w99
                                             74617  spotify:track:04CyMEHliadfQWMUJb1w99

                                                                    artist_names  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405  $, Kanye West, Ty Dolla $ign
                                             74662  $, Kanye West, Ty Dolla $ign
                             BEG FORGIVENESS 74470  $, Kanye West, Ty Dolla $ign
                             BURN            74402  $, Kanye West, Ty Dolla $ign
                                             74617  $, Kanye West, Ty Dolla $ign

                                                         track_name source  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405       BACK TO ME     Ye
                                             74662       BACK TO ME     Ye
                             BEG FORGIVENESS 74470  BEG FORGIVENESS     Ye
                             BURN            74402             BURN     Ye
                                             74617             BURN     Ye

                                                    peak_rank  previous_rank  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405         24             -1
                                             74662         24             24
                             BEG FORGIVENESS 74470         89             -1
                             BURN            74402         21             -1
                                             74617         21             21

                                                    weeks_on_chart   streams  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405               1  19028110
                                             74662               2  11837092
                             BEG FORGIVENESS 74470               1  11802992
                             BURN            74402               1  19646355
                                             74617               2  16253330

                                                      End Date  Week  Year  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405  2024-02-15     7  2024
                                             74662  2024-02-22     8  2024
                             BEG FORGIVENESS 74470  2024-02-15     7  2024
                             BURN            74402  2024-02-15     7  2024
                                             74617  2024-02-22     8  2024

                                                   End Date Dt  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405  2024-02-15
                                             74662  2024-02-22
                             BEG FORGIVENESS 74470  2024-02-15
                             BURN            74402  2024-02-15
                                             74617  2024-02-22

                                                    Seconds since Epoch  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405         1.707955e+09
                                             74662         1.708560e+09
                             BEG FORGIVENESS 74470         1.707955e+09
                             BURN            74402         1.707955e+09
                                             74617         1.708560e+09

                                                   End Date Aggregated  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405          2024-02-01
                                             74662          2024-02-01
                             BEG FORGIVENESS 74470          2024-02-01
                             BURN            74402          2024-02-01
                                             74617          2024-02-01

                                                    ArtistCount main_artist  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405            1           $
                                             74662            1           $
                             BEG FORGIVENESS 74470            1           $
                             BURN            74402            1           $
                                             74617            1           $

                                                    isTopTen
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405         0
                                             74662         0
                             BEG FORGIVENESS 74470         0
                             BURN            74402         0
                                             74617         0

### When did the track reach the Top 10

### how long does a song last on the charts?

In [41]:
# def lengthSong(x):
#     min_date = min(x["Start Date"])
#     max_date = max(x["End Date"])
    
#     def convertStrToDate(y):
#         split_date = y.split("-")
#         dateindtformat = datetime(int(split_date[0]), int(split_date[1]), int(split_date[2]))
        
#         return dateindtformat
    
#     x["lenOnCharts"] = [int(((convertStrToDate(max_date) - convertStrToDate(min_date)).total_seconds() / 604800)) ] * len(x)
#     x["lenOnCharts"] = x["lenOnCharts"]
    
#     return x
    
# the_spotify_data = the_spotify_data.groupby(["Artist", "Track Name"], as_index=False).apply(lambda x : lengthSong(x))

In [42]:
the_spotify_data.head()

                                                    rank  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405    24
                                             74662    81
                             BEG FORGIVENESS 74470    89
                             BURN            74402    21
                                             74617    36

                                                                                     uri  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405  spotify:track:1icgLGTpX2fQXKRe4D7w2b
                                             74662  spotify:track:1icgLGTpX2fQXKRe4D7w2b
                             BEG FORGIVENESS 74470  spotify:track:4ihV1wv7QmjbkLHaT9lA4s
                             BURN            74402  spotify:track:04CyMEHliadfQWMUJb1w99
                                             74617  spotify:track:04CyMEHliadfQWMUJb1w99

                                                                    artist_names  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405  $, Kanye West, Ty Dolla $ign
                                             74662  $, Kanye West, Ty Dolla $ign
                             BEG FORGIVENESS 74470  $, Kanye West, Ty Dolla $ign
                             BURN            74402  $, Kanye West, Ty Dolla $ign
                                             74617  $, Kanye West, Ty Dolla $ign

                                                         track_name source  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405       BACK TO ME     Ye
                                             74662       BACK TO ME     Ye
                             BEG FORGIVENESS 74470  BEG FORGIVENESS     Ye
                             BURN            74402             BURN     Ye
                                             74617             BURN     Ye

                                                    peak_rank  previous_rank  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405         24             -1
                                             74662         24             24
                             BEG FORGIVENESS 74470         89             -1
                             BURN            74402         21             -1
                                             74617         21             21

                                                    weeks_on_chart   streams  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405               1  19028110
                                             74662               2  11837092
                             BEG FORGIVENESS 74470               1  11802992
                             BURN            74402               1  19646355
                                             74617               2  16253330

                                                      End Date  Week  Year  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405  2024-02-15     7  2024
                                             74662  2024-02-22     8  2024
                             BEG FORGIVENESS 74470  2024-02-15     7  2024
                             BURN            74402  2024-02-15     7  2024
                                             74617  2024-02-22     8  2024

                                                   End Date Dt  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405  2024-02-15
                                             74662  2024-02-22
                             BEG FORGIVENESS 74470  2024-02-15
                             BURN            74402  2024-02-15
                                             74617  2024-02-22

                                                    Seconds since Epoch  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405         1.707955e+09
                                             74662         1.708560e+09
                             BEG FORGIVENESS 74470         1.707955e+09
                             BURN            74402         1.707955e+09
                                             74617         1.708560e+09

                                                   End Date Aggregated  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405          2024-02-01
                                             74662          2024-02-01
                             BEG FORGIVENESS 74470          2024-02-01
                             BURN            74402          2024-02-01
                                             74617          2024-02-01

                                                    ArtistCount main_artist  \
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405            1           $
                                             74662            1           $
                             BEG FORGIVENESS 74470            1           $
                             BURN            74402            1           $
                                             74617            1           $

                                                    isTopTen
artist_names                 track_name
$, Kanye West, Ty Dolla $ign BACK TO ME      74405         0
                                             74662         0
                             BEG FORGIVENESS 74470         0
                             BURN            74402         0
                                             74617         0

In [43]:
the_spotify_data["isTopTen"].value_counts()

isTopTen
0    57493
1    29089
Name: count, dtype: int64

In [44]:
the_spotify_data.isnull().sum()

rank                   0
uri                    0
artist_names           0
track_name             0
source                 0
peak_rank              0
previous_rank          0
weeks_on_chart         0
streams                0
End Date               0
Week                   0
Year                   0
End Date Dt            0
Seconds since Epoch    0
End Date Aggregated    0
ArtistCount            0
main_artist            0
isTopTen               0
dtype: int64

In [45]:
unique_artists = the_spotify_data["main_artist"].unique().tolist()
num_artists = len(unique_artists)
print(num_artists)

1422

In [46]:
### find new artists in that week

In [47]:
# the_spotify_data.head(12)
def getArtistAppearanceCount(x):

    x = x.sort_values(by='End Date', ascending=True)
    x = x.reset_index()
    # x.drop(["index"],axis=1,inplace=True)
    x = x.reset_index()
    
    x_cols = [w.replace('index', 'artistAppearanceCount') for w in x.columns]
    
    x.columns = x_cols
    
    return x        

the_spotify_data = the_spotify_data.drop(['artist_names', 'track_name'], axis=1)
the_spotify_data =the_spotify_data.groupby(["main_artist"], as_index=False).apply(lambda x : getArtistAppearanceCount(x))
the_spotify_data.drop(["level_2"], inplace=True, axis=1)

C:\Users\lkhum\AppData\Local\Temp\ipykernel_24204\3015101900.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  the_spotify_data =the_spotify_data.groupby(["main_artist"], as_index=False).apply(lambda x : getArtistAppearanceCount(x))

In [48]:
the_spotify_data.head()

     artistAppearanceCount                                       artist_names  \
0 0                      0                       $, Kanye West, Ty Dolla $ign
  1                      1  $, Kanye West, Ty Dolla $ign, Rich The Kid, Pl...
  2                      2                       $, Kanye West, Ty Dolla $ign
  3                      3                       $, Kanye West, Ty Dolla $ign
  4                      4                       $, Kanye West, Ty Dolla $ign

     track_name  rank                                   uri source  peak_rank  \
0 0  BACK TO ME    24  spotify:track:1icgLGTpX2fQXKRe4D7w2b     Ye         24
  1    CARNIVAL     4  spotify:track:3w0w2T288dec0mgeZZqoNN     Ye          4
  2    VULTURES    75  spotify:track:3SIRBp4RRQ2AO5H4NO7xfq     Ye         75
  3     TALKING    22  spotify:track:1eaqMiiUn2P7MnqJK4XeK0     Ye         22
  4       STARS    30  spotify:track:347AQK5Lyhn6RvB8tBGYxt     Ye         30

     previous_rank  weeks_on_chart   streams    End Date  Week  Year  \
0 0             -1               1  19028110  2024-02-15     7  2024
  1             -1               1  32277135  2024-02-15     7  2024
  2             -1               1  12788706  2024-02-15     7  2024
  3             -1               1  19503365  2024-02-15     7  2024
  4             -1               1  17876674  2024-02-15     7  2024

    End Date Dt  Seconds since Epoch End Date Aggregated  ArtistCount  \
0 0  2024-02-15         1.707955e+09          2024-02-01            1
  1  2024-02-15         1.707955e+09          2024-02-01            1
  2  2024-02-15         1.707955e+09          2024-02-01            1
  3  2024-02-15         1.707955e+09          2024-02-01            1
  4  2024-02-15         1.707955e+09          2024-02-01            1

    main_artist  isTopTen
0 0           $         0
  1           $         1
  2           $         0
  3           $         0
  4           $         0

In [49]:
def getTrackAppearanceCount(x):

    x = x.sort_values(by=['End Date','track_name'], ascending=True)

    x = x.reset_index()
    # x.drop(["index"],axis=1,inplace=True)
    x = x.reset_index()
    
    x_cols = x.columns
    
    x_cols = [w.replace('index', 'trackAppearanceCount') for w in x_cols]
    
    x.columns = x_cols
    
    return x         
    
the_spotify_data =the_spotify_data.groupby(["artist_names", "track_name"], as_index=False).apply(lambda x : getTrackAppearanceCount(x))
# the_spotify_data = the_spotify_data.reset_index()
the_spotify_data.drop(["level_0", "level_1"], inplace=True, axis=1)
# print(the_spotify_data.columns)
# stop

C:\Users\lkhum\AppData\Local\Temp\ipykernel_24204\2047836851.py:17: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  the_spotify_data =the_spotify_data.groupby(["artist_names", "track_name"], as_index=False).apply(lambda x : getTrackAppearanceCount(x))

In [50]:
the_spotify_data.head()

     trackAppearanceCount  artistAppearanceCount  \
0 0                     0                      0
  1                     1                     16
1 0                     0                     11
2 0                     0                     12
  1                     1                     17

                     artist_names       track_name  rank  \
0 0  $, Kanye West, Ty Dolla $ign       BACK TO ME    24
  1  $, Kanye West, Ty Dolla $ign       BACK TO ME    81
1 0  $, Kanye West, Ty Dolla $ign  BEG FORGIVENESS    89
2 0  $, Kanye West, Ty Dolla $ign             BURN    21
  1  $, Kanye West, Ty Dolla $ign             BURN    36

                                      uri source  peak_rank  previous_rank  \
0 0  spotify:track:1icgLGTpX2fQXKRe4D7w2b     Ye         24             -1
  1  spotify:track:1icgLGTpX2fQXKRe4D7w2b     Ye         24             24
1 0  spotify:track:4ihV1wv7QmjbkLHaT9lA4s     Ye         89             -1
2 0  spotify:track:04CyMEHliadfQWMUJb1w99     Ye         21             -1
  1  spotify:track:04CyMEHliadfQWMUJb1w99     Ye         21             21

     weeks_on_chart   streams    End Date  Week  Year End Date Dt  \
0 0               1  19028110  2024-02-15     7  2024  2024-02-15
  1               2  11837092  2024-02-22     8  2024  2024-02-22
1 0               1  11802992  2024-02-15     7  2024  2024-02-15
2 0               1  19646355  2024-02-15     7  2024  2024-02-15
  1               2  16253330  2024-02-22     8  2024  2024-02-22

     Seconds since Epoch End Date Aggregated  ArtistCount main_artist  \
0 0         1.707955e+09          2024-02-01            1           $
  1         1.708560e+09          2024-02-01            1           $
1 0         1.707955e+09          2024-02-01            1           $
2 0         1.707955e+09          2024-02-01            1           $
  1         1.708560e+09          2024-02-01            1           $

     isTopTen
0 0         0
  1         0
1 0         0
2 0         0
  1         0

In [51]:
# artists = the_spotify_data["Artist"]
# the_spotify_data.drop(["Artist"],axis=1,inplace=True)
# the_spotify_data.reset_index(inplace=True)
# the_spotify_data.drop(["level_1"], axis=1, inplace=True)
# the_spotify_data["Artist"] = list(artists)

In [52]:
# the_spotify_data.drop(['index'], inplace=True, axis=1)

In [53]:
# the_spotify_data[["Position", "Start Date", "End Date"]].to_csv("the_spotify_data_val.csv", index=False)

In [54]:
# the_spotify_data.to_csv("the_spotify_data.csv")

In [55]:
the_spotify_data["rank"] = the_spotify_data["rank"].astype(int)
the_spotify_data["streams"] = the_spotify_data["streams"].astype(int)
the_spotify_data["ArtistCount"] = the_spotify_data["ArtistCount"].astype(int)

the_spotify_data["isTopTen"] = the_spotify_data["isTopTen"].astype(int)
# the_spotify_data["lenOnCharts"] = the_spotify_data["lenOnCharts"].astype(int)

the_spotify_data["Year"] = the_spotify_data["Year"].astype(int)
the_spotify_data["Week"] = the_spotify_data["Week"].astype(int)

In [56]:
all_cols = list(the_spotify_data.columns)
drop_cols = []

for col in all_cols:
    if("Unnamed" in col or "artificial" in col):
        drop_cols.append(col)
        
the_spotify_data.drop(drop_cols, axis=1, inplace = True)

In [57]:
the_spotify_data["Artist and Track"] = the_spotify_data["artist_names"] + "; " + the_spotify_data["track_name"]

In [58]:
# the_spotify_data.to_csv("Classification/all_files.csv", index=False)

### Getting the list of Artists and Tracks

In [60]:
import pandas as pd
# import pymongo
# import getlyrics

In [61]:
def trackAppearance(x):
#     x = x.reset_index()

    x = x.sort_values(by=["End Date"])
#     x.set_index(["Position"])

    x["rank"] = x["rank"].astype(int)
#     print(list(x["Position"]))
    
    x["rank difference"] = x["rank"].diff().fillna(0)
    x["rank difference"] = x["rank difference"].astype(int)
    
#     x["Position Difference"] = x["Position"].sub(x["Position"].shift())
#     x.drop(["index"], inplace=True)
    
    return x
    
all_files_grouped = the_spotify_data.groupby(["main_artist", "track_name"]).apply(lambda x: trackAppearance(x))

C:\Users\lkhum\AppData\Local\Temp\ipykernel_24204\2368203610.py:18: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  all_files_grouped = the_spotify_data.groupby(["main_artist", "track_name"]).apply(lambda x: trackAppearance(x))

In [62]:
all_files_grouped["rank difference"].max()

191

#### The number of streams per week

In [64]:
all_files_grouped.columns

Index(['trackAppearanceCount', 'artistAppearanceCount', 'artist_names',
       'track_name', 'rank', 'uri', 'source', 'peak_rank', 'previous_rank',
       'weeks_on_chart', 'streams', 'End Date', 'Week', 'Year', 'End Date Dt',
       'Seconds since Epoch', 'End Date Aggregated', 'ArtistCount',
       'main_artist', 'isTopTen', 'Artist and Track', 'rank difference'],
      dtype='object')

##### percentage of streams a track has in its first week, halfway and at the end of its tenure

In [66]:
all_files_grouped["lower_main_artist"] = all_files_grouped["main_artist"].apply(lambda x : x.lower())

In [67]:
# all_files_grouped["lower_main_artist"]

In [68]:
# filter the dataset to include only the tracks by the specific artist
artist = 'taylor swift'
artist_df = all_files_grouped[all_files_grouped['lower_main_artist'] == artist]

In [69]:
def isFirstWeekOnly(x):
    if(x==0):
        return True
    else:
        return False   
    
def halfwaypointinChart(x):
    
    newx = round(x / 2)
    
    return newx

def percstreamsindifftimes(x):
    
    # % of streams in 1st week 
    perc_first_week_stream = first_week_streams / total_streams
    
    # % of streams in halfway week
    perc_halfway_week_stream = first_week_streams / total_streams
    
    
    # % of streams in halfway week
    perc_halfway_week_stream = first_week_streams / total_streams
    
    
    return x

In [70]:
all_files_grouped.shape

(86582, 23)

### Position over time

In [72]:
def positionvertime(x):
    posovertime = 0
    #new track
    if(x["rank difference"] == 0 and x["trackAppearanceCount"]==0):
        posovertime = 0
    #track stayed in the same position
    elif(x["rank difference"] == 0 and x["trackAppearanceCount"]!=0):
        posovertime = 50
    #track went up the chart
    elif(x["rank difference"] < 0):
        posovertime = 75
    #track fell down the chart
    else:
        posovertime = 100
    return posovertime

In [73]:
all_files_grouped["Position over Time"] = all_files_grouped.apply(lambda x : positionvertime(x), axis=1)

##### Add a Girl Group and Boy Group

In [75]:
ggdf = pd.read_csv("Classification/ListofGirlGroups.csv", encoding='ANSI')
bgdf = pd.read_csv("Classification/ListofBoyGroups.csv", on_bad_lines='skip', encoding='ANSI')

In [76]:
def IsGG(ggdf, y):
    ggs = [x.lower().strip() for x in ggdf["Artist"]]
    y = y.lower().strip()
    
    if y in ggs:
        return True
    else:
        return False

def IsBG(bgdf, y):
    bgs = [x.lower().strip() for x in bgdf["Artist"]]
    y = y.lower().strip()
    
    if y in bgs:
        return True
    else:
        return False

In [77]:
all_files_grouped["IsGirlGroup"] = all_files_grouped["main_artist"].apply(lambda x : IsGG(ggdf, x))
all_files_grouped["IsBoyGroup"] = all_files_grouped["main_artist"].apply(lambda x : IsGG(bgdf, x))

In [78]:
ggs = all_files_grouped[all_files_grouped["IsGirlGroup"]==True]["main_artist"].unique().tolist()
bgs = all_files_grouped[all_files_grouped["IsBoyGroup"]==True]["main_artist"].unique().tolist()

In [79]:
# all_files_grouped = all_files_grouped.drop(*['lower_main_artist'],axis=1)

In [80]:
# all_files_grouped.drop(["level_2"], inplace=True, axis=1)

In [81]:
all_files_grouped.to_csv("Classification/all_files_"+locale_name+"v1.csv", index=False)

In [82]:
all_files_grouped.columns

Index(['trackAppearanceCount', 'artistAppearanceCount', 'artist_names',
       'track_name', 'rank', 'uri', 'source', 'peak_rank', 'previous_rank',
       'weeks_on_chart', 'streams', 'End Date', 'Week', 'Year', 'End Date Dt',
       'Seconds since Epoch', 'End Date Aggregated', 'ArtistCount',
       'main_artist', 'isTopTen', 'Artist and Track', 'rank difference',
       'lower_main_artist', 'Position over Time', 'IsGirlGroup', 'IsBoyGroup'],
      dtype='object')